
<!doctype html>
<html>
<head>
<!-- <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<link rel="stylesheet" type="text/css" href="admin.css">
<script type="text/javascript" language="javascript">
function productSubmit()
{
	var selected_index  = document.getElementById('product').value;
	 if(selected_index > 0) 
	{ 
		 
	  	   document.productForm.submit();
	} else
	{ 
	   alert('Please select the product'); 
	}
	}
</script>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Admin-Home</title>
</head>
<body bgcolor="#E8E8E8">
<center>
  <form name="productForm" method="post" action="product.action" modelAttribute=> 
 
 	<c:if test="${not empty productCategoriesList}">    		
	    <select name="product" id="product" placeholder="product">        
	        <c:forEach items="${productCategoriesList}" var="productCategories" varStatus="status">
	   			<option value="${productCategories.id}">${productCategories.name}</option>
	        </c:forEach>
	    </select>    		
 	</c:if>
   
       
     <button id="booksbutton" type="button" onclick="productSubmit()">Search</button>
     
     
    </form>
    
    <table border='1.5' width='600' cellpadding='1' cellspacing='1'>
       	 <c:if test="${not empty productList.products}">	
    		<tr>
   				<th>Item Name</th>
  				<th>Item Desc</th>
  				<th>Price</th>
 			</tr>
 		</c:if>
		<c:forEach items="${productList.products}" var="product" varStatus="status"> 
   			
   			<tr class="rows">
   				<td>${product.name} </td>
   				<td>${product.desc} </td>
   				<td>${product.price} </td>
   				<td>  <a href="<c:url value="addtocart.action?id=${product.id}&name=${product.name}&price=${product.price}" />">AddToCart</a> </td>
   				
  			 </tr>
   		
           
     </c:forEach> 
		
		
	</table>

    
   <div>
	<a style="float: right;" class="login" href="login.action">login</a>
  </div>
  &nbsp;&nbsp;&nbsp;
  <div>
	<a style="float: right;" class="Register" href="newuser.action">Register</a>
  </div>
</center> -->
<body>

	<div align="center" data-ng-init="getProducts()">
		<div align="center" data-ng-init="getCategory()">
			Search by Product <input type="text" data-ng-model="searchP"
				width="50px"> <br /> Search by Category <select
				data-ng-model="item"
				data-ng-options="item.name for item in categories"></select> <br>
			<br> <a href="#cart"> <i class="icon-shopping-cart"></i><b>Total
					items: {{cart.getTotalCount()}}, Total Amount:
					{{cart.getTotalPrice() | currency}}</b>
			</a>
			<table width="500">
				<thead>
					<tr>
						<th>Product Name</th>
<!-- 						<th>cc Name</th> -->
						<th>product Price</th>
						<th></th>
					</tr>
				</thead> 

				<tr data-ng-repeat="item in products | filter:searchP  |filter:item.name">
					<td>{{item.name}}</td>
<!-- 					<td>{{item.pcid.name}}</td> -->
					<td>{{item.price}}</td>
					<td><button
							data-ng-click="cart.addItem(item.id,item.name,item.price,1)">Add
							to Cart</button></td>
				</tr>
			</table>
		</div>
	</div>
</html>